@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h6 {
  font-size: 13px;
}

h5 {
  font-size: 16px;
}

h4 {
  font-size: 18px;
}

h3 {
  font-size: 20px;
}

h2 {
  font-size: 26px;
}

h1 {
  font-size: 30px;
}

.text-xxs {
  font-size: 10px !important;
}

.text-xs {
  font-size: 12px !important;
}

.text-sm {
  font-size: 13px !important;
}

.text-md {
  font-size: 16px !important;
}

.text-lg {
  font-size: 18px !important;
}

.text-xl {
  font-size: 20px !important;
}

.text-2xl {
  font-size: 26px !important;
}

.text-3xl {
  font-size: 30px !important;
}

.fw-medium {
  font-weight: 600 !important;
}

.text-semidark {
  color: #8c8c8c;
}

.text-dark {
  color: #949699 !important;
}

.text-darker {
  color: #50535b;
}

.text-justify {
  text-align: justify;
}

.bg-silver {
  background-color: #d7d8d9 !important;
}

.bg-light {
  background-color: #f5f7f9 !important;
}

.bg-purple {
  background-color: #b14fff !important;
}

.bg-body-light {
  background-color: #f2f4f7 !important;
}

.bg-candy-blue {
  background-color: #9cd4ff !important;
}

.bg-candy-pink {
  background-color: #ffb2e1 !important;
}

.bg-candy-purple {
  background-color: #b2a5ff !important;
}

.bg-candy-red {
  background-color: #fbb6ad !important;
}

.bg-candy-black {
  background-color: #2e223c !important;
}

.bg-primary-new {
  background-color: #17519d !important;
}

.bg-success-new {
  background-color: #00b389 !important;
}

.bg-warning-new {
  background-color: #f9b314 !important;
}

.bg-danger-new {
  background-color: #ee397f !important;
}

.border-top-dashed {
  border-top: 1px dashed var(--mdb-border-color);
}

.rounded-normal {
  border-radius: 10px !important;
}

.shadow-xs {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.w-350 {
  width: 350px !important;
  flex: 0 0 350px;
}

.input-date {
  width: 112px !important;
  flex: 0 0 112px;
}

.h-40 {
  height: 40px !important;
}

.pt-152 {
  padding-top: 152px !important;
}

.colspan-2 {
  grid-column: span 2/span 2;
}

.colspan-3 {
  grid-column: span 3/span 3;
}

.btn-accent {
  background-color: #ff8036;
  border-color: #ff8036;
}

.btn-normal {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 13px;
  box-shadow: none;
}
.btn-normal:hover {
  box-shadow: none !important;
}

.btn-white {
  background-color: #ffffff;
  border: 1px solid var(--mdb-border-color);
  box-shadow: none;
}
.btn-white:hover {
  border-color: var(--mdb-border-color);
  box-shadow: none !important;
}

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-candy-black {
  background-color: #2e223c;
  border-color: #2e223c;
  color: #ffffff;
}
.btn-candy-black:hover {
  background-color: #2e223c;
  border-color: #2e223c;
  color: #ffffff;
}

.btn-floating {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  padding: 0;
  border-radius: 50rem;
}

.btn-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 12px;
  font-size: 13px !important;
  text-transform: capitalize;
  border: 1px solid var(--mdb-border-color);
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: none;
}
.btn-dropdown:is(:hover, :focus) {
  box-shadow: none !important;
}
.btn-dropdown:after {
  content: "ﵩ";
  position: absolute;
  display: grid;
  place-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 12px;
  font-size: 16px;
  font-family: uicons-regular-rounded !important;
}

.btn-dropdown:hover {
  border-color: var(--mdb-border-color);
}

.badge {
  --mdb-badge-padding-x: 11px;
  --mdb-badge-padding-y: 6px;
  --mdb-badge-font-size: 11px;
  --mdb-badge-font-weight: 500;
  border-radius: 16px;
}

.form-check-sm[type=checkbox] {
  margin-top: 0 !important;
  width: 14px;
  height: 14px;
  border: 1px solid var(--mdb-form-control-border-color);
}
.form-check-sm[type=checkbox]::before {
  width: 12px;
  height: 12px;
  opacity: 0;
}
.form-check-sm[type=checkbox]:focus:after {
  background-color: transparent;
}
.form-check-sm[type=checkbox]:checked {
  border-color: #3b71ca;
}
.form-check-sm[type=checkbox]:checked:after {
  width: 5px;
  height: 9px;
  margin-left: 3.5px;
  margin-top: 0.5px;
  border-radius: 0 0 2px 0;
}

.form-check-sm[type=radio] {
  margin-top: 0 !important;
  width: 14px;
  height: 14px;
  border: 1px solid var(--mdb-form-control-border-color);
}
.form-check-sm[type=radio]::after, .form-check-sm[type=radio]::before {
  width: 12px;
  height: 12px;
}
.form-check-sm[type=radio]:checked:focus:before, .form-check-sm[type=radio]:indeterminate:focus:before {
  box-shadow: 0px 0px 0px 10px #3b71ca;
}
.form-check-sm[type=radio]:checked {
  border-color: #3b71ca;
}
.form-check-sm[type=radio]:checked:after {
  width: 8px;
  height: 8px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.icon-circle-36 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 50rem;
}

.customer-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.customer-list-item .cust-img {
  display: grid;
  place-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50rem;
  background-color: #ffede4;
}
.customer-list-item .cust-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.customer-detail-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 12px;
  color: #949699;
}
.customer-detail-item strong {
  text-align: right;
  color: #50535b;
  max-width: 68%;
}

.offcanvas-full {
  --mdb-offcanvas-height: 100dvh;
  --mdb-offcanvas-border-width: 0px;
}

.offcanvas-auto {
  --mdb-offcanvas-height: auto;
}

.offcanvas-body .form-control, .offcanvas-body .form-select {
  padding-top: 12px;
  padding-bottom: 12px;
}

.offcanvas-footer .btn {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px;
  font-size: 13px;
}

.form-underline label:after {
  --mdb-body-bg: transparent;
  color: #949699 !important;
}
.form-underline .form-control {
  font-size: 13px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #d7d8d9;
}
.form-underline .form-floating > label {
  color: #949699;
}
.form-underline .form-floating > .form-control:focus {
  padding-top: 1.35rem;
}
.form-underline .btn {
  --mdb-btn-padding-x: 1rem;
  --mdb-btn-padding-y: 0.75rem;
  --mdb-border-radius: 10px;
  font-size: 13px;
}

.list-group .list-group-item:nth-child(5n+1) .user-avatar {
  color: rgba(var(--mdb-primary-rgb), 1);
  background-color: var(--mdb-primary-bg-subtle);
}
.list-group .list-group-item:nth-child(5n+2) .user-avatar {
  color: rgba(var(--mdb-success-rgb), 1);
  background-color: var(--mdb-success-bg-subtle);
}
.list-group .list-group-item:nth-child(5n+3) .user-avatar {
  color: rgba(var(--mdb-warning-rgb), 1);
  background-color: var(--mdb-warning-bg-subtle);
}
.list-group .list-group-item:nth-child(5n+4) .user-avatar {
  color: rgba(var(--mdb-info-rgb), 1);
  background-color: var(--mdb-info-bg-subtle);
}
.list-group .list-group-item:nth-child(5n+5) .user-avatar {
  color: rgba(var(--mdb-danger-rgb), 1);
  background-color: var(--mdb-danger-bg-subtle);
}

.list-group-between {
  font-size: 13px;
  border-radius: 16px;
}
.list-group-between .list-group-item {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid var(--mdb-border-color);
  border-width: 0 0 1px;
  border-color: var(--mdb-border-color);
}
.list-group-between .list-group-item .item-content {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.list-group-between .list-group-item .item-content h5 {
  font-weight: 600;
  margin-bottom: 0;
}
.list-group-between .list-group-item .item-content h6 {
  font-weight: 600;
  margin-bottom: 0;
}
.list-group-between .list-group-item .item-content strong {
  font-size: 13px;
}
.list-group-between .list-group-item .item-content small {
  font-size: 12px;
  color: var(--mdb-secondary-color);
}
.list-group-between .list-group-item .item-content:last-child {
  text-align: end;
}

.list-group-between-link {
  font-size: 13px;
  border-radius: 16px;
}
.list-group-between-link .list-group-item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
.list-group-between-link .list-group-item a .item-content {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.list-group-between-link .list-group-item a .item-content h5 {
  font-weight: 600;
  margin-bottom: 0;
}
.list-group-between-link .list-group-item a .item-content h6 {
  font-weight: 600;
  margin-bottom: 2px;
}
.list-group-between-link .list-group-item a .item-content strong {
  font-size: 13px;
}
.list-group-between-link .list-group-item a .item-content small {
  font-size: 12px;
  color: var(--mdb-secondary-color);
}
.list-group-between-link .list-group-item a .item-content:first-child {
  grid-column: span 2/span 2;
}
.list-group-between-link .list-group-item a .item-content:last-child {
  text-align: end;
}

.list-group-grid-link {
  font-size: 13px;
  border-radius: 16px;
}
.list-group-grid-link .list-group-item a {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.list-group-grid-link .list-group-item a .item-content {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.list-group-grid-link .list-group-item a .item-content h5 {
  font-weight: 600;
  margin-bottom: 0;
}
.list-group-grid-link .list-group-item a .item-content h6 {
  font-weight: 600;
  margin-bottom: 2px;
}
.list-group-grid-link .list-group-item a .item-content strong {
  font-size: 13px;
}
.list-group-grid-link .list-group-item a .item-content small {
  font-size: 12px;
  color: var(--mdb-secondary-color);
}
.list-group-grid-link .list-group-item a .item-content:first-child {
  grid-column: span 2/span 2;
}
.list-group-grid-link .list-group-item a .item-content:last-child {
  text-align: end;
}

.list-group-contact {
  font-size: 13px;
  border-radius: 16px;
}
.list-group-contact .list-group-item :is(a, .item-wrapper) {
  display: flex;
  gap: 10px;
}
.list-group-contact .user-avatar {
  display: grid;
  place-content: center;
  width: 38px;
  height: 38px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50rem;
}
.list-group-contact .user-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.list-group-contact .user-details {
  display: flex;
  flex-direction: column;
}

.list-group-summary {
  font-size: 13px;
}
.list-group-summary .list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 12px;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}
.list-group-summary .list-group-item:nth-last-of-type() {
  text-align: end;
}

.list-group-borderless .list-group-item {
  border-width: 0 !important;
  padding-top: 0;
}

.list-search-results .list-group-item {
  display: flex;
  gap: 10px;
}
.list-search-results .list-group-item .image {
  width: 30%;
}
.list-search-results .list-group-item .image img {
  width: 100%;
  border-radius: 8px;
}
.list-search-results .list-group-item .content {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.list-search-results .list-group-item .content strong {
  font-weight: 600;
}
.list-search-results .list-group-item .content small {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  color: #949699;
  font-size: 12px;
  line-height: 1.35;
}
.list-search-results .list-group-item .content a {
  font-size: 12px;
}

.card-heading {
  padding: 16px;
  border-radius: 16px;
  background-color: #ffffff;
  text-align: center;
}

.card-details {
  padding: 16px;
  border-radius: 16px;
  background-color: #ffffff;
  font-size: 13px;
}

.card-profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 16px;
  background-color: #ffffff;
  font-size: 13px;
}
.card-profile-header .user-avatar {
  width: 68px;
  height: 68px;
  border: 1px solid var(--mdb-border-color);
  border-radius: 50rem;
  background-color: #ffffff;
}
.card-profile-header .user-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-profile-header .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  gap: 4px;
}
.card-profile-header .user-info h5 {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}

.dl-between dd {
  color: var(--mdb-secondary-color);
}
.dl-between dd:not(:last-of-type) {
  margin-bottom: 16px;
}
.dl-between dt {
  text-align: end;
}

.input-group .form-control {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.input-group .form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.input-group.column {
  flex-direction: column;
}
.input-group.column > .form-control {
  width: 100%;
  margin-left: 0 !important;
  padding: 12px 14px;
}
.input-group.column > .form-control:not(:last-child) {
  border-radius: 10px 10px 0 0 !important;
}
.input-group.column > .form-control:not(:first-child) {
  border-radius: 0 0 10px 10px !important;
  margin-top: calc(var(--mdb-border-width) * -1);
}

.input-icon {
  position: relative;
}
.input-icon .form-control {
  padding-left: 42px;
}

.input-date-icon {
  position: relative;
}
.input-date-icon .form-control {
  padding-left: 42px;
  text-align: left;
}
.input-date-icon .form-control::-webkit-calendar-picker-indicator {
  display: none;
}
.input-date-icon .input-group-icon {
  color: #949699;
  pointer-events: none;
}

.input-currency {
  position: relative;
}
.input-currency .currency-name {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 4px 14px;
  display: grid;
  place-content: center;
}
.input-currency .form-control {
  padding-left: 40px;
}

.input-amount .form-control {
  font-size: 26px;
  font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dropdown-menu {
  padding: 8px;
  font-size: 13px;
  border-radius: 10px;
  border-color: var(--mdb-border-color);
}
.dropdown-menu li {
  display: flex;
  align-items: center;
}
.dropdown-menu label {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
}
.dropdown-menu label .form-check-input {
  margin-right: 8px;
}

/*
.nav-tabs {
  flex-wrap: nowrap;
  border-bottom: var(--mdb-nav-tabs-border-width) solid var(--mdb-nav-tabs-border-color);

  .nav-link {
    border: 1px solid transparent;
    margin-bottom: calc(-1* var(--mdb-nav-tabs-border-width));
    padding: 18px;
    font-size: $fs-sm;
    color: $dark;
    border-bottom: none;
    border-radius: 10px 10px 0 0;

    &:hover {
      background-color: transparent;
    }

    &.active {
      border: 1px solid var(--mdb-border-color);
      color: var(--mdb-heading-color);
      border-bottom: none;
    }

    &.active:hover {
      background-color: $white;
    }

    .fi {
      display: none;
    }
  }
}
*/
.modal-content {
  border-radius: 10px;
}

.modal-footer {
  border-radius: 0 0 10px 10px;
}
.modal-footer .btn {
  border-radius: 8px;
  box-shadow: none;
}

.step .step-items {
  display: none;
}
.step .step-items.active {
  display: block;
}

.table {
  font-size: 13px;
}
.table .dropdown-menu {
  font-size: 13px;
}

datalist {
  position: absolute;
  background-color: white;
  border: 1px solid blue;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: 350px;
  padding: 5px;
}
datalist option {
  background-color: white;
  padding: 4px;
  color: blue;
  margin-bottom: 1px;
  font-size: 18px;
  cursor: pointer;
}

.account-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 24px 16px;
  background-color: white;
  border-radius: 0 0 24px 24px;
}
.account-header .account-image {
  width: 96px;
  height: 96px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid rgba(var(--mdb-warning-rgb), 1);
  background-color: #ffffff;
}
.account-header .account-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.account-header .account-info {
  text-align: center;
  font-size: 13px;
}

.related-places .related-items {
  font-size: 13px;
  line-height: 1.25;
  border: 1px solid var(--mdb-border-color);
  border-radius: 8px;
  background-color: #ffffff;
  color: #24262b;
}
.related-places .related-items img {
  width: 100%;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.splash-screen {
  position: fixed;
  display: none;
  place-content: center;
  top: 50%;
  left: 50%;
  background-color: #24262b;
  color: #ffffff;
  transform: translate(-50%, -50%);
  height: calc(100vh + 50%);
  aspect-ratio: 16/9;
  z-index: 9999;
  transition: all 500ms ease;
}

@media (min-width: 576px) {
  .nav-tabs .nav-link {
    padding: 18px 30px;
  }
  .nav-tabs .nav-link .fi {
    display: inline-block;
  }
}
div:has(> datalist) {
  position: relative;
}
div:has(> datalist) input.active + datalist {
  display: block;
  width: calc(100% - 8px);
  max-height: 300px;
  margin-top: 2px;
  font-size: 13px;
  border: 1px solid var(--mdb-border-color);
  border-radius: 8px;
  overflow-y: auto;
  z-index: 1;
}
div:has(> datalist) input.active + datalist option {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding-inline: 8px;
  color: inherit;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
}
div:has(> datalist) input.active + datalist option:hover {
  background-color: #949699;
  color: #ffffff;
}
div:has(> datalist) input.active + datalist option::before {
  content: attr(value);
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.login-wrapper a {
  color: rgba(var(--mdb-primary-rgb), var(--mdb-text-opacity));
}
.login-wrapper .heading {
  text-align: center;
  font-size: 16px;
  margin-bottom: 24px;
}
.login-wrapper .heading h2, .login-wrapper .heading h3 {
  margin-bottom: 4px;
  font-weight: 600;
  color: #24262b;
}
.login-wrapper .heading h2 {
  font-size: 26px;
}
.login-wrapper .heading h3 {
  font-size: 20px;
}
.login-wrapper .login-form {
  margin-bottom: 24px;
  padding: 12px;
}
.login-wrapper .login-form .form-control {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 8px;
}
.login-wrapper .login-form.otp .form-control {
  text-align: center;
  letter-spacing: 8px;
}
.login-wrapper .login-form.otp .form-control::-moz-placeholder {
  letter-spacing: normal;
}
.login-wrapper .login-form.otp .form-control::placeholder {
  letter-spacing: normal;
}
.login-wrapper .social-connect {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.login-wrapper .social-connect a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  margin-top: 8px;
  padding: 8px;
  border: 1px solid var(--mdb-border-color);
  border-radius: 50%;
}
.login-wrapper .social-connect a img {
  width: 100%;
}

.app-home-header {
  padding: 16px;
  padding-top: 68px;
  padding-bottom: 24px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 24px 24px;
  background-color: #ffffff;
}
.app-home-header .top-bar {
  position: fixed;
  top: 0;
  inset-inline: 0;
  z-index: 9;
}
.app-home-header .top-bar .top-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 480px;
  margin: auto;
  padding: 16px;
  background-color: #ffffff;
}
.app-home-header .user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.app-home-header .user-info .avatar {
  display: grid;
  place-content: center;
  width: 36px;
  height: 36px;
  font-size: 13px;
  font-weight: bold;
  background-color: #9fc4ff;
  color: #1c3967;
  border-radius: 50%;
}
.app-home-header .user-info img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app-home-balance {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 16px;
  background-color: #2e223c;
  color: #f5f7f9;
  cursor: pointer;
}

.app-home-balance-action {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 8px;
  margin-top: 16px;
}
.app-home-balance-action .btn {
  padding: 14px 0;
  font-size: 12px;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: none;
}

.app-home-marketplace {
  padding: 16px;
}
.app-home-marketplace .btn-flex {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 12px;
  box-shadow: none;
}
.app-home-marketplace .nav-link {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #949699;
}

.app-home-banner .banner-promo {
  overflow: hidden;
  padding: 16px;
}
.app-home-banner .swiper-slide {
  height: 195px;
}
.app-home-banner .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app-home-content {
  position: relative;
  padding: 16px;
  overflow: hidden;
}
.app-home-content .content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 13px;
}
.app-home-content .content-header .heading {
  margin-bottom: 0;
}

.app-page-header {
  position: relative;
  background-color: #ffffff;
}
.app-page-header .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8px;
}
.app-page-header .top-bar h4 {
  margin-bottom: 0;
  font-weight: 600;
}
.app-page-header .top-bar .btn-icon {
  --border-color: rgba(0, 0, 0, 0);
  --bg-color: rgba(0, 0, 0, 0);
  --text-color: $dark;
  font-size: 18px;
}
.app-page-header .top-bar .notify {
  position: relative;
}
.app-page-header .top-bar .notify .dot {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #ff8036;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transform: translate(5px, -5px);
}
.app-page-header .top-bar-options {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.5s ease;
}
.app-page-header .top-bar-market {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
  padding: 0 16px 12px;
}
.app-page-header .top-bar-market .btn {
  padding: 14px 0;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 12px;
  color: #ffffff;
  box-shadow: none;
}
.app-page-header .top-bar-form {
  display: flex;
  gap: 8px;
  padding: 0 16px 12px;
}
.app-page-header .top-bar-form .btn {
  border-radius: 10px;
}

.app-page-header:has(:checked) .top-bar-options {
  grid-template-rows: 1fr;
}

.app-page-header.fixed-top {
  position: fixed;
  top: 0;
  inset-inline: 0;
  background-color: #ffffff;
  z-index: 9;
}

.app-page-header.fixed-top + .fixed-top-next {
  margin-top: 68px;
}

.app-page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  padding: 16px;
  overflow: hidden;
}

.app-page-fullbanner {
  position: relative;
  width: 100%;
  height: 100dvh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.app-page-fullbanner .top-bar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.app-page-fullbanner .btn-icon {
  --border-color: rgba(255,255,255,0);
  --bg-color: rgba(255,255,255,.25);
  --text-color: $black;
}

.app-page-fullcontent {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translateY(-88px);
  margin-bottom: -88px;
  border-radius: 16px 16px 0 0;
  background-color: #ffffff;
}
.app-page-fullcontent .page-header {
  padding: 16px;
  height: 88px;
}
.app-page-fullcontent .page-header .heading {
  font-weight: 600;
}
.app-page-fullcontent .page-footer {
  padding: 16px 16px 24px;
}
.app-page-fullcontent .page-footer .btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.75rem;
  --bs-border-radius: 10px;
  font-size: 13px;
}

.page-body {
  position: relative;
  padding: 16px;
  background-color: #ffffff;
  font-size: 13px;
  color: #24262b;
}
.page-body .content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 13px;
}
.page-body .overview-swiper img {
  width: 100%;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.admin-login-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100dvh;
  font-size: 13px;
}
.admin-login-wrapper .login-banner {
  position: relative;
  padding: 16px;
}
.admin-login-wrapper .login-banner img {
  width: 100%;
  height: calc(100vh - 32px);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.admin-login-wrapper .login-banner::before {
  content: "";
  position: absolute;
  inset: 16px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(0, 52, 165, 0.25);
  border-radius: 16px;
}
.admin-login-wrapper .card-login {
  width: 386px;
  margin: auto;
  padding: 16px;
}
.admin-login-wrapper .btn {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 13px;
  border-radius: 10px;
}

body {
  transition: 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0 0.5rem;
  background-color: #eff3f4;
  z-index: 100;
  transition: 0.5s;
}
.header.expand {
  left: 4.25rem;
}
.header .header-toggle .btn {
  --mdb-btn-padding-x: 0.75rem;
  box-shadow: none;
  font-size: 18px;
}
.header .header-title {
  margin-right: auto;
}
.header .header-title h2 {
  font-size: 24px;
  font-weight: 500 !important;
  margin-bottom: 0;
}

.header-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  padding-right: 10px;
  overflow: hidden;
  border-radius: 50rem;
}
.header-profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-profile img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -30%;
  width: 4.25rem;
  height: 100vh;
  padding: 0.5rem 1rem 0 0;
  background: linear-gradient(160deg, rgb(87, 0, 162) 0%, rgb(0, 81, 193) 100%);
  transition: 0.5s;
  z-index: 100;
}
.sidebar.show {
  left: 0;
}
.sidebar .nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.sidebar .nav .nav-logo, .sidebar .nav .nav-link {
  display: grid;
  grid-template-columns: max-content auto 14px;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 16px 0 16px 1.5rem;
}
.sidebar .nav .nav-logo.active, .sidebar .nav .nav-link.active {
  color: #cdf463;
}
.sidebar .nav .nav-logo.active::before, .sidebar .nav .nav-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: #cdf463;
}
.sidebar .nav .nav-logo {
  margin-bottom: 2rem;
  grid-template-columns: max-content max-content;
}
.sidebar .nav .nav-logo-icon {
  font-size: 1.25rem;
  color: #ffffff;
}
.sidebar .nav .nav-logo-name {
  color: #ffffff;
  font-weight: 700;
}
.sidebar .nav .nav-link {
  position: relative;
  color: #111214;
  color: #ffffff;
  transition: 0.3s;
  font-size: 13px;
  text-wrap: nowrap;
}
.sidebar .nav .nav-link:hover {
  color: #ffffff;
}
.sidebar .nav .nav-icon {
  font-size: 1rem;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu .sub-menu-toggle::after {
  content: "ﭺ";
  position: absolute;
  right: 0;
  font-family: uicons-regular-rounded !important;
  transition: all 0.5s linear;
}
.sidebar-menu .sub-menu-toggle[aria-expanded=false]::after {
  transform: rotate(0deg);
}
.sidebar-menu .sub-menu-toggle[aria-expanded=true]::after {
  transform: rotate(180deg);
}
.sidebar-menu .sub-menu {
  display: grid;
  transition: all 0.5s ease;
}
.sidebar-menu .sub-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu .sub-menu .nav-link {
  padding: 10px 0 10px 1.5rem;
}
.sidebar-menu .sub-menu[aria-expanded=false] {
  grid-template-rows: 0fr;
}
.sidebar-menu .sub-menu[aria-expanded=true] {
  grid-template-rows: 1fr;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 3.5rem);
  margin-top: 3.5rem;
  font-size: 13px;
  transition: 0.5s;
  background-color: #eff3f4;
}
.content-wrapper.expand {
  margin-left: 4.25rem;
}
.content-wrapper .content-fill {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.table td .badge {
  width: 100%;
}

.table-sticky-head thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-listing .news-img {
  width: 28px;
  display: none;
}
.table-listing .news-img img {
  width: 28px;
  aspect-ratio: 5/3;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50rem;
}
.table-listing .news-content {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 680px;
}
.table-listing .news-content p {
  display: none;
}

.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.table-footer .action-area {
  display: flex;
  gap: 8px;
}
.table-footer .btn {
  box-shadow: none;
}
.table-footer .btn:hover {
  box-shadow: none !important;
}
.table-footer .pagination {
  margin-bottom: 0;
  font-size: 13px;
}
.table-footer .pagination .page-link {
  font-size: 13px;
}

.table-pagination {
  margin-left: auto;
  margin-right: auto;
}

.banner-list-grid {
  display: grid;
  gap: 12px;
}
.banner-list-grid .banner-items img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.banner-list-grid .banner-items .banner-items-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 13px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--mdb-border-color);
  border-radius: 0 0 10px 10px;
}

.input-file-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  border-radius: 10px;
  cursor: pointer;
}
.input-file-preview img {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.multiple-images-upload {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.multiple-images-upload .images-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76px;
  border: 1px solid var(--mdb-border-color);
  border-radius: 8px;
}
.multiple-images-upload img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.multiple-images-upload .add-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76px;
  border: 1px dashed var(--mdb-border-color);
  border-radius: 8px;
  cursor: pointer;
}
.multiple-images-upload .btn-del {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 1px solid #d1485f;
  border-radius: 50%;
  background-color: #dc4c64;
  color: #ffffff;
}

.task-list input[type=checkbox]:checked + span {
  text-decoration: line-through;
}

.form-sm-inline-25, .form-sm-inline-33 {
  display: flex;
  flex-direction: column;
}

.list-group-25 .list-group-item, .list-group-33 .list-group-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.list-group-25 .list-group-item > :first-child, .list-group-33 .list-group-item > :first-child {
  font-size: 12px;
  color: #949699;
}
.list-group-25 .list-group-item > :first-child img, .list-group-33 .list-group-item > :first-child img {
  width: 100%;
}
.list-group-25 .list-group-item > :last-child, .list-group-33 .list-group-item > :last-child {
  flex-grow: 1;
}

.dropdown {
  line-height: 1.2;
}
.dropdown .dropdown-menu {
  line-height: inherit;
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    flex-direction: row;
    min-height: calc(100vh - 4.5rem);
    margin-top: 4.5rem;
    margin-left: 4.25rem;
  }
  .content-wrapper.expand {
    margin-left: calc(4.25rem + 156px);
  }
  .header {
    height: 4.5rem;
    left: 4.25rem;
  }
  .header.expand {
    left: calc(4.25rem + 156px);
  }
  .header .header-profile img {
    width: 36px;
    height: 36px;
  }
  .sidebar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .sidebar.show {
    width: calc(4.25rem + 156px);
  }
  .table-listing .news-img {
    width: 250px;
    display: block;
  }
  .table-listing .news-img img {
    width: 100%;
    height: auto;
    max-height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 4px;
  }
  .table-listing .news-content p {
    display: -webkit-box;
    overflow: hidden;
    text-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    color: #50535b;
  }
  .banner-list-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .input-file-preview {
    height: 240px;
  }
  .input-file-preview.banner {
    height: 247px;
  }
  .multiple-images-upload {
    grid-template-columns: repeat(5, 1fr);
  }
  .table-pagination {
    margin-right: 0;
  }
  .form-sm-inline-25 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
  }
  .form-sm-inline-25 > *:first-child {
    flex: 1 1 25%;
  }
  .form-sm-inline-25 > *:last-child {
    flex: 1 1 75%;
  }
  .list-group-25 .list-group-item {
    display: flex;
    flex-direction: row;
  }
  .list-group-25 .list-group-item > :first-child {
    flex: 0 0 25%;
  }
  .list-group-33 .list-group-item {
    display: flex;
    flex-direction: row;
  }
  .list-group-33 .list-group-item > :first-child {
    flex: 0 0 33%;
  }
}
.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%;
}

.dataTable > tbody > tr.child ul.dtr-details > li {
  display: flex;
  justify-content: space-between;
}

table.dataTable > tbody > tr.child span.dtr-title {
  font-weight: normal;
  color: #949699;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control {
  text-wrap: nowrap;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before {
  border: none;
  font-family: uicons-regular-rounded !important;
  content: "ﵧ";
}

table.dataTable.dtr-inline.collapsed > tbody > tr.dtr-expanded > td.dtr-control:before {
  border: none;
  content: "ﵩ";
}

.dt-container > div:nth-child(1), .dt-container > div:nth-child(3) {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
  transition: all 0.3s ease-in-out;
}

:is(div, span, .flex):has(> .fi) {
  display: flex;
  align-items: center;
  gap: 4px;
}

.fi {
  line-height: 0.75;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.btn:hover {
  box-shadow: none !important;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator::after {
  content: "a";
  position: absolute;
  right: 0;
}

.input-group {
  position: relative;
}
.input-group .btn {
  border-radius: 10px;
}

.form-control {
  padding: 8px 12px 8px;
  border-radius: 8px;
  color: var(--mdb-surface-color);
}

.form-select:focus, .form-control:focus {
  box-shadow: none;
  border-color: #50535b;
}

.form-control::-moz-placeholder {
  color: #949699;
}

.form-control::placeholder {
  color: #949699;
}

.form-select {
  padding: 8px 36px 8px 12px;
  border-radius: 8px;
  box-shadow: none;
}

.form-grouping {
  padding: 10px 14px;
  border-radius: 8px;
  background-color: #fff;
}
.form-grouping label {
  font-size: 12px;
  font-weight: 600;
  color: #8c8c8c;
}
.form-grouping .form-control {
  padding: 4px 0;
  background-color: transparent;
  border-radius: 0;
  border: none;
}

.otp-form-grouping {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.otp-form-grouping .form-control {
  flex: 1 0 1fr;
  text-align: center;
  padding: 12px 8px;
}

.input-group-icon {
  position: absolute;
  inset-block: 0;
  display: grid;
  place-content: center;
  padding: 0 14px;
}
.input-group-icon .fi {
  color: #d7d8d9;
}

.scroll-hidden::-webkit-scrollbar {
  width: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  min-height: 100dvh;
  margin-inline: auto;
  padding-bottom: 70px;
}

.search-bar {
  position: relative;
}
.search-bar .form-control {
  padding: 10px 14px 10px 42px;
  border-radius: 10px;
  border: none;
  background-color: #f5f7f9;
  font-size: 13px;
}
.search-bar .form-control:focus {
  box-shadow: none;
}

.header-banner {
  height: 275px;
}

.page-img-banner {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.absolute-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.btn-icon {
  --bg-color: rgba(0,0,0,0);
  --border-color: rgba(255, 255, 255, 0.5);
  --text-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding-top: 2px;
  color: var(--text-color);
  background-color: var(--bg-color);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  font-size: 18px;
}

.point-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  font-size: 10px;
  font-weight: 600;
  margin-right: 2px;
  background-color: #eaa208;
  border: 1px solid #ffc843;
  color: #ffc843;
  border-radius: 8px;
  transform: translateY(-1px);
}

.btn-icon-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 36px;
  height: 36px;
  padding-left: 8px;
  padding-right: 12px;
  border-radius: 50rem;
  font-size: 13px;
}

.app-home-categories {
  padding: 16px 0 0;
}
.app-home-categories ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  margin: 0;
  padding: 0 16px;
  overflow: auto;
}
.app-home-categories ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 50rem;
  font-size: 13px;
  text-wrap: nowrap;
}

.app-page-wrapper {
  padding: 16px;
  background-color: #fff;
}

.card {
  border-radius: 10px;
}

.banner-featured .swiper-slide {
  position: relative;
}
.banner-featured .swiper-slide .content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 14px;
  padding-top: 20px;
  color: #fff;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 0 0 12px 12px;
  font-size: 13px;
}
.banner-featured img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.card-col-lists .list-items {
  position: relative;
  display: block;
  padding: 10px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.card-col-lists .list-items img {
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.card-col-lists .list-items .btn-save {
  position: absolute;
  display: grid;
  place-content: center;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 50rem;
  background-color: rgba(243, 243, 243, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: #f3f6f7;
}
.card-col-lists .list-items .btn-save .fi {
  transform: translateY(2px);
}
.card-col-lists .list-items .content {
  padding: 8px 0;
}
.card-col-lists .list-items .content h5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}

.card-col-lists > :not(:last-child) {
  margin-bottom: 12px;
}

.list-pill {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 0;
}
.list-pill li {
  display: flex;
  align-items: center;
  gap: 8px;
  text-wrap: nowrap;
  padding: 8px 14px;
  background-color: #f3f6f7;
  color: #666;
  border-radius: 50rem;
  font-size: 12px;
}

.flex-high {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  margin-inline: auto;
  border-radius: 80px;
  background-color: #ffede4;
}
.profile-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom-navbar {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  max-width: 480px;
  height: 70px;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  z-index: 999;
}
.bottom-navbar .container {
  max-width: 480px;
  height: 100%;
  margin-inline: auto;
  padding: 0 14px 12px;
}
.bottom-navbar .navbar-menu {
  flex: 1 1 auto;
  padding-top: 12px;
  border-width: 3px 0 0;
  border-style: solid;
  border-color: transparent;
  text-align: center;
  font-size: 11px;
}
.bottom-navbar .navbar-menu.active {
  border-color: #ff8036;
}/*# sourceMappingURL=ui.css.map */