.admin-login-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100dvh;
  font-size: $fs-sm;

  .login-banner {
    position: relative;
    padding: 16px;

    img {
      width: 100%;
      height: calc(100vh - 32px);
      object-fit: cover;
      border-radius: 16px;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 16px;
      backdrop-filter: blur(4px);
      background-color: rgba(0, 52, 165, 0.25);
      border-radius: 16px;
    }
  }

  .card-login {
    width: 386px;
    margin: auto;
    padding: 16px;
  }

  .btn {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: $fs-sm;
    border-radius: 10px;
  }
}

body{
  transition: .5s;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $admin-header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0 .5rem;
  background-color: #eff3f4;
  z-index: $z-fixed;
  transition: .5s;
  //border-bottom: 1px solid var(--mdb-border-color);

  &.expand {
    left: $admin-sidebar-width;
  }

  .header-toggle {
    .btn {
      --mdb-btn-padding-x: 0.75rem;
      box-shadow: none;
      font-size: $fs-lg;
    }
  }

  .header-title {
    margin-right: auto;

    h2 {
      font-size: 24px;
      font-weight: 500 !important;
      margin-bottom: 0;
    }
  }
}

.header-profile{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  padding-right: 10px;
  overflow: hidden;
  border-radius: 50rem;
  
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.header-profile img{
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.sidebar{
  position: fixed;
  top: 0;
  left: -30%;
  width: $admin-sidebar-width;
  height: 100vh;
  padding: .5rem 1rem 0 0;
  background: linear-gradient(160deg, rgba(87,0,162,1) 0%, rgba(0,81,193,1) 100%);
  //background-color: $white;
  transition: .5s;
  z-index: $z-fixed;

  &.show{
    left: 0;
  }

  .nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .nav-logo, .nav-link{
      display: grid;
      grid-template-columns: max-content auto 14px;
      align-items: center;
      column-gap: 1rem;
      padding: 16px 0 16px 1.5rem;

      &.active{
        //color: #3300ac;
        color: #cdf463;
      }
      
      &.active::before{
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 32px;
        //background-color: #3300ac;
        background-color: #cdf463;
      }
    }
    
    .nav-logo{
      margin-bottom: 2rem;
      grid-template-columns: max-content max-content;
    }
    
    .nav-logo-icon{
      font-size: 1.25rem;
      color: $white;
    }
    
    .nav-logo-name{
      color: $white;
      font-weight: 700;
    }
    
    .nav-link{
      position: relative;
      color: $black;
      color: $white;
      //margin-bottom: 1rem;
      transition: .3s;
      font-size: $fs-sm;
      text-wrap: nowrap;
    }
    
    .nav-link:hover{
      color: $white;
    }
    
    .nav-icon{
      font-size: 1rem;
    }
  }
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  .sub-menu-toggle::after {
    content: "\fb7a";
    position: absolute;
    right: 0;
    font-family: uicons-regular-rounded !important;
    transition: all .5s linear;
  }

  .sub-menu-toggle[aria-expanded="false"]::after {
    transform: rotate(0deg);
  }

  .sub-menu-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
  }

  .sub-menu {
    display: grid;
    transition: all .5s ease;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .nav-link {
      padding: 10px 0 10px 1.5rem;
    }

    &[aria-expanded='false'] {
      grid-template-rows: 0fr;
    }

    &[aria-expanded='true'] {
      grid-template-rows: 1fr;
    }
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - $admin-header-height);
  margin-top: $admin-header-height;
  font-size: $fs-sm;
  transition: .5s;
  background-color: #eff3f4;

  &.expand {
    margin-left: $admin-sidebar-width;
  }

  .content-fill {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.table {
  td {
    .badge {
      --mdb-badge-padding-x: 11px;
      --mdb-badge-padding-y: 6px;
      --mdb-badge-font-size: 11px;
      --mdb-badge-font-weight: 500;
      border-radius: 16px;
    }
  }
}

.table-sticky-head {
  thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.table-listing {
  .news-img {
    width: 28px;
    display: none;

    img {
      width: 28px;
      aspect-ratio: 5/3;
      object-fit: cover;
      border-radius: 50rem;
    }
  }

  .news-content {
    width: fit-content;
    max-width: 680px;

    p {
      display: none;
    }
  }
}

.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;

  .action-area {
    display: flex;
    gap: 8px;
  }

  .btn {
    box-shadow: none;

    &:hover {
      box-shadow: none !important;
    }
  }

  .pagination {
    margin-bottom: 0;
    font-size: 13px;

    .page-link {
      font-size: 13px;
    }
  }
}

.table-pagination {
  margin-left: auto;
  margin-right: auto;
}

.banner-list-grid {
  display: grid;
  gap: 12px;

  .banner-items {

    img {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }

    .banner-items-content {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-size: $fs-sm;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: var(--mdb-border-color);
      border-radius: 0 0 10px 10px;
    }
  }
}

.input-file-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  border-radius: 10px;
  cursor: pointer;

  img{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.multiple-images-upload {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  .images-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    border: 1px solid var(--mdb-border-color);
    border-radius: 8px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .add-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    border: 1px dashed var(--mdb-border-color);
    border-radius: 8px;
    cursor: pointer;
  }

  .btn-del {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 1px solid #d1485f;
    border-radius: 50%;
    background-color: #dc4c64;
    color: $white;
  }
}

.task-list {
  input[type="checkbox"]:checked + span {
    text-decoration: line-through;
  }
}

.form-sm-inline-25, .form-sm-inline-33 {
  display: flex;
  flex-direction: column;
}

.list-group-25, .list-group-33 {
  .list-group-item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & > :first-child {
      font-size: $fs-xs;
      color: $dark;

      img {
        width: 100%;
      }
    }

    & > :last-child {
      flex-grow: 1;
    }
  }
}

.dropdown {
  line-height: 1.2;

  .dropdown-menu {
    line-height: inherit;
  }
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    flex-direction: row;
    min-height: calc(100vh - ($admin-header-height + 1rem));
    margin-top: calc($admin-header-height + 1rem);
    margin-left: $admin-sidebar-width;

    &.expand {
      margin-left: calc($admin-sidebar-width + 156px);
    }
  }
  
  .header{
    height: calc($admin-header-height + 1rem);
    left: $admin-sidebar-width;

    &.expand {
      left: calc($admin-sidebar-width + 156px);
    }
    
    .header-profile img{
      width: 36px;
      height: 36px;
    }
  }
  
  .sidebar{
    left: 0;
    padding: 1rem 1rem 0 0;

    &.show {
      width: calc($admin-sidebar-width + 156px);
    }
  }

  .table-listing {
    .news-img {
      width: 250px;
      display: block;
  
      img {
        width: 100%;
        height: auto;
        max-height: 150px;
        object-fit: cover;
        border-radius: 4px;
      }
    }

    .news-content {
      p {
        display: -webkit-box;
        overflow: hidden;
        text-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        color: $darker;
      }
    }
  }

  .banner-list-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .input-file-preview {
    height: 240px;
  }

  .input-file-preview.banner {
    height: 247px;
  }

  .multiple-images-upload {
    grid-template-columns: repeat(5, 1fr);
  }

  .table-pagination {
    margin-right: 0;
  }

  .form-sm-inline-25 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
  
    & > *:first-child {
      flex: 1 1 25%;
    }
  
    & > *:last-child {
      flex: 1 1 75%;
    }
  }

  .list-group-25 {
    .list-group-item {
      display: flex;
      flex-direction: row;
  
      & > :first-child {
        flex: 0 0 25%;
      }
    }
  }

  .list-group-33 {
    .list-group-item {
      display: flex;
      flex-direction: row;
  
      & > :first-child {
        flex: 0 0 33%;
      }
    }
  }
}