.app-home-header {
  padding: 16px;
  padding-top: 68px;
  padding-bottom: 24px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 24px 24px;
  background-color: $white;

  .top-bar {
    position: fixed;
    top: 0;
    inset-inline: 0;
    z-index: 9;
    
    .top-bar-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 480px;
      margin: auto;
      padding: 16px;
      background-color: $white;
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 12px;
    
    .avatar {
      display: grid;
      place-content: center;
      width: 36px;
      height: 36px;
      font-size: $fs-sm;
      font-weight: bold;
      background-color: #9fc4ff;
      color: #1c3967;
      border-radius: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.app-home-balance {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-radius: 16px;
  background-color: $c-candy-black;
  color: $light;
  cursor: pointer;
}

.app-home-balance-action {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 8px;
  margin-top: 16px;

  .btn {
    padding: 14px 0;
    font-size: $fs-xs;
    color: $white;
    border-radius: 12px;
    box-shadow: none;
  }
}

.app-home-marketplace {
  padding: 16px;

  .btn-flex {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: $fs-xs;
    text-transform: uppercase;
    border-radius: 12px;
    box-shadow: none;
  }

  .nav-link {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: $fs-xs;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark;
  }
}

.app-home-banner {
  .banner-promo {
    overflow: hidden;
    padding: 16px;
  }

  .swiper-slide {
    height: 195px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.app-home-content {
  position: relative;
  padding: 16px;
  overflow: hidden;

  .content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: $fs-sm;

    .heading {
      margin-bottom: 0;
    }
  }
}

.app-page-header {
  position: relative;
  background-color: $white;

  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px;

    h4 {
      margin-bottom: 0;
      font-weight: 600;
    }

    .btn-icon {
      --border-color: rgba(0, 0, 0, 0);
      --bg-color: rgba(0, 0, 0, 0);
      --text-color: $dark;
      font-size: $fs-lg;
    }

    .notify {
      position: relative;

      .dot {
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        background-color: $accent;
        border: 1px solid $white;
        border-radius: 5px;
        transform: translate(5px, -5px);
      }
    }
  }

  .top-bar-options {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.5s ease;
  }

  .top-bar-market {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
    padding: 0 16px 12px;

    .btn {
      padding: 14px 0;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 12px;
      color: $white;
      box-shadow: none;
    }
  }

  .top-bar-form {
    display: flex;
    gap: 8px;
    padding: 0 16px 12px;

    .btn {
      border-radius: 10px;
    }
  }
}

.app-page-header:has(:checked){
  .top-bar-options {
    grid-template-rows: 1fr;
  }
}

.app-page-header.fixed-top {
  position: fixed;
  top: 0;
  inset-inline: 0;
  background-color: $white;
  z-index: 9;
}

.app-page-header.fixed-top + .fixed-top-next {
  margin-top: 68px;
}

.app-page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  padding: 16px;
  overflow: hidden;
}

.app-page-fullbanner {
  position: relative;
  width: 100%;
  height: 100dvh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .top-bar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  .btn-icon {
    --border-color: rgba(255,255,255,0);
    --bg-color: rgba(255,255,255,.25);
    --text-color: $black;
  }
}

.app-page-fullcontent {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translateY(-88px);
  margin-bottom: -88px;
  border-radius: 16px 16px 0 0;
  background-color: $white;

  .page-header {
    padding: 16px;
    height: 88px;

    .heading {
      font-weight: 600;
    }
  }

  .page-footer {
    padding: 16px 16px 24px;

    .btn {
      --bs-btn-padding-x: 1rem;
      --bs-btn-padding-y: 0.75rem;
      --bs-border-radius: 10px;
      font-size: $fs-sm;
    }
  }
}

.page-body {
  position: relative;
  padding: 16px;
  background-color: $white;
  font-size: $fs-sm;
  color: $darkest;

  .content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: $fs-sm;
  }

  .overview-swiper img {
    width: 100%;
    height: 52px;
    object-fit: cover;
    border-radius: 8px;
  }
}