$fs-xxs: 10px;
$fs-xs: 12px;
$fs-sm: 13px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;
$fs-2xl: 26px;
$fs-3xl: 30px;

$accent: #ff8036;
$accent-light: #ff9f6b;
$accent-lighter: #ffede4;
$black: #111214;
$darkest: #24262b;
$darker: #50535b;
$dark: #949699;
$silver: #d7d8d9;
$light: #f5f7f9;
$lighter: #fafafb;
$white: #ffffff;
$purple: #b14fff;
$body-light: #f2f4f7;

$admin-header-height : 3.5rem;
$admin-sidebar-width: 4.25rem;

$c-candy-blue: #9cd4ff;
$c-candy-pink: #ffb2e1;
$c-candy-purple: #b2a5ff;
$c-candy-red: #fbb6ad;
$c-candy-black: #2e223c;

$primary-new: #17519d;
$success-new: #00b389;
$warning-new: #f9b314;
$danger-new : #ee397f;

$z-fixed: 100;

h6 { font-size: $fs-sm; }
h5 { font-size: $fs-md; }
h4 { font-size: $fs-lg; }
h3 { font-size: $fs-xl; }
h2 { font-size: $fs-2xl; }
h1 { font-size: $fs-3xl; }

.text-xxs { font-size: $fs-xxs !important; }
.text-xs  { font-size: $fs-xs !important; }
.text-sm  { font-size: $fs-sm !important; }
.text-md  { font-size: $fs-md !important; }
.text-lg  { font-size: $fs-lg !important; }
.text-xl  { font-size: $fs-xl !important; }
.text-2xl { font-size: $fs-2xl !important; }
.text-3xl { font-size: $fs-3xl !important; }

.fw-medium { font-weight: 600 !important; }

.text-semidark { color:#8c8c8c; }
.text-dark { color: $dark !important; }
.text-darker { color: $darker; }

.text-justify { text-align: justify; }

.bg-silver { background-color: $silver !important; }
.bg-light  { background-color: $light !important; }
.bg-purple { background-color: $purple !important; }
.bg-body-light  { background-color: $body-light !important; }

.bg-candy-blue  { background-color: $c-candy-blue !important; }
.bg-candy-pink  { background-color: $c-candy-pink !important; }
.bg-candy-purple  { background-color: $c-candy-purple !important; }
.bg-candy-red  { background-color: $c-candy-red !important; }
.bg-candy-black  { background-color: $c-candy-black !important; }

.bg-primary-new  { background-color: $primary-new !important; }
.bg-success-new  { background-color: $success-new !important; }
.bg-warning-new  { background-color: $warning-new !important; }
.bg-danger-new  { background-color: $danger-new !important; }

.border-top-dashed { border-top: 1px dashed var(--mdb-border-color); }

.rounded-normal { border-radius: 10px !important; }

.shadow-xs { box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); }

.w-350 { width: 350px !important; flex: 0 0 350px; }

.input-date { width: 112px !important; flex: 0 0 112px; }

.h-40 { height: 40px !important; }

.pt-152 { padding-top: 152px !important; }

.colspan-2 { grid-column: span 2 / span 2; }
.colspan-3 { grid-column: span 3 / span 3; }

.rotate-180 { transform: rotate(180deg); }
